public
node_modules
temp
**/npm-debug.log
.idea
logs/
reporting
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
utility/db-utilities/backup/
dynamoDB
token-rsa.key
