files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/45keygen.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_deploy_dir)
      sudo openssl genrsa -out $EB_APP_DEPLOY_DIR/token-rsa.key 1024
