files:
  "/opt/elasticbeanstalk/hooks/restartappserver/post/uideploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      UI_TAG=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o "RAGING_GOBLIN_TAG")
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      echo "++++++  Installing UI application: "$UI_TAG
      curl https://s3-us-west-2.amazonaws.com/raging-goblin-ui/$UI_TAG.tar.gz | tar -xv -C $EB_APP_DEPLOY_DIR
